[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cancerTiming"]
	path = cancerTiming
	url = https://github.com/cran/cancerTiming
[submodule "clusterExperiment"]
	path = clusterExperiment
	url = https://github.com/epurdom/clusterexperiment
